* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(61, 126, 11, 0.632);
}
h1 {
  margin: 15px 0;
}
.section-1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  color: rgb(33, 32, 32);
  gap: 12px;
  margin: 16px 10px;
  align-items: center;
}
/* .section-2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  color: rgb(33, 32, 32);
  gap: 12px;
  margin: 16px 10px;
  align-items: center;
} */
.section-3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  color: rgb(33, 32, 32);
  gap: 12px;
  margin: 16px 10px;
  align-items: center;
}

.section-4 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  color: rgb(33, 32, 32);
  gap: 12px;
  margin: 16px 10px;
  align-items: center;
}
h3 {
  font-size: 16px;
  margin: 16px 10px;
  margin-top: 20px;
}

.first {
  background: green;
}

.second {
  background: orange;
}
